<!-- <p>page works!</p> -->
<div *ngIf="isLoading">Loading...</div>

<p-card *ngIf="gameStart">
    <div class="timer"> {{ timer }} </div>
</p-card>

<p-card *ngIf="!gameStart && !isLoading">
    <div class="game-intro">
        <h2>ברוכים הבאים</h2>
        <h4>להלן חוקי המשחק:</h4>
        <ul>
            <li>עליכם לענות על כל השאלות בזמן הקצר ביותר</li>
            <li>מרגע שתתחילו לשחק השעון יתחיל לרוץ ויספור את הזמן שלכם</li>
            <li>תוחלו לבקש רמזים לתשובות, כל בקשה לרמז תעלה את השעון בדקה</li>
            <li>אם תכיסו תשובה לא נכונה יתווספו שתי דקות לשעון שלכם</li>
            <li>לחצו על התחלה כדי להתחיל לשחק</li>
            <li>בהצלחה!</li>
        </ul>
        <button pButton class="p-button-raised p-button-primary" (click)="onStart()">התחלה</button>
    </div>
</p-card>

<ng-container *ngFor="let q of page.questions; let i = index">
    <app-question *ngIf="i === currentQuestion" [question]="q" [questionNumber]="i" (clueRecieved)="onAddTime(60)"
                  (answerFail)="onAddTime(120)" (answerSuccess)="onAnswerSuccess()"></app-question>
</ng-container>