.button-container {
  display: block;
  margin-top: 25px;
  display: flex;
  flex-direction: row-reverse;
}
.answer {
  width: 100%;
}
.clue-container {
}

.question-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
