<p-card>
    <div class="question">
        <div class="question-header">
            <h1>{{ questionNumber + 1}}/{{ totalQuestions }}</h1>
            <p-message [ngClass]="message ? 'visible' : 'hidden'" [severity]="messageColor" [text]="message">
            </p-message>
        </div>
        <h3>{{ question.q }}</h3>
        <input type="text" #answer pInputText class="answer" autofocus>
        <p class="clue-container" *ngFor="let clue of clues"> <i class="pi pi-question"></i> - &nbsp;&nbsp;{{ clue }}
        </p>
        <div class="button-container">
            <button pButton class="p-button-success" icon="pi pi-check" label=" שליחת תשובה" iconPos="right"
                    (click)="onSubmit(answer.value)"> </button>
            <button pButton class=" p-button-help" label="רמז" iconPos="right"
                    icon="pi pi-question-circle" (click)="onClueRequest()"></button>
        </div>
    </div>
</p-card>