$color-primary: #202b54;
$color-secondary: #4194cf;
$color-darkRed: #841211;
$color-orange: #bd4819;
$color-orangeLight: #d17228;
$color-white: #ffffff;
$color-black: #050604;
$color-lightYellow: #e5d691;
