html {
  direction: rtl;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  app-root {
    width: 100%;
    @media only screen and (min-width: 500px) {
      width: 75%;
    }
    @media only screen and (min-width: 768px) {
      margin-top: 5rem;
      width: 50%;
    }
    @media only screen and (min-width: 1000px) {
      width: 40%;
    }
    @media only screen and (min-width: 1200px) {
      width: 35%;
    }
    @media only screen and (min-width: 1400px) {
      width: 30%;
    }
    @media only screen and (min-width: 1600px) {
      width: 25%;
    }
  }
}

.p-card {
  margin-top: 1.2rem;
}
.p-card .p-card-body {
  padding: 0.5rem;
}
